# Ignore all top-level directories except dagbagM
/*/
!/dagbagM/

# Ignore specific files
dagbagMv2_implementation_notes.md
example_v2_v1.R
HC_cache_implementation_and_benchmark_summary.md

.DS_Store

hc_boot_old_vs_new.R
