useDynLib(dagbagM) # Load compiled C++ code from the shared library; Rcpp automatically registers functions marked with // [[Rcpp::export]] and no .Call() is explicitly used, so withtout the .registration=TRUE option
export("hc","hc_boot","hc_boot_parallel","score_shd")
importFrom(Rcpp, evalCpp)
